<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SoftVersionDataUpdate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SoftVersionDataUpdateFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E7308051BA65A570010FD65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E73081E1BA65A570010FD65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E7308331BA65A720010FD65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E73083D1BA65A720010FD65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
